@using Microsoft.AspNetCore.Mvc.Localization
@model List<LoginCodeFirst.ViewModels.Brand.IndexViewModel>
@inject IViewLocalizer Localizer
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<h1>@Localizer["Brand"]</h1>
<link rel="stylesheet" href="~/css/box.css"/>
<a asp-controller="Brand" asp-action="Add" class="btn btn-success">@Localizer["ADD CATEGORY"]</a>
<div class="container">
    <table class="table">
        <thead>
        @if (TempData["Brands"] != null)
        {
            <div class="alert-box success"><span>success: </span>@TempData["Brands"]</div>
        }
        <tr>
            <th>
                @Localizer["BrandId"]
            </th>
            <th>
                @Localizer["BrandName"]
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BrandId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BrandName)
                </td>
                <td>
                    <div class="edit">
                        <img src="~/image/edit.png" alt="Avatar" class="image">
                        <div class="overlay">
                            <a  asp-controller="Brand" asp-action="Edit" asp-route-id="@item.BrandId">@Localizer["Edit"]</a>
                        </div>
                    </div>
                    <div class="edit">
                        <img src="~/image/delete.png" alt="Avatar" class="image">
                        <div class="overlay">
                            <a  asp-controller="Brand" asp-action="Delete" onclick=" return confirm('You really want to delete?')" asp-route-id="@item.BrandId">@Localizer["Delete"]</a>
                        </div>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
