@using LoginCodeFirst.Resources
@model List<LoginCodeFirst.ViewModels.Stock.IndexViewModel>
@inject ResourcesServices Localizer
@{
    ViewBag.Title = "Index Stock";
}


<div class="container-fluid">
    <div class="block-header">
        <h2>
             @ViewBag.Title  
        </h2>
    </div>
    <!-- Basic Examples -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        <a class="btn btn-success" asp-controller="Stock" asp-action="Add">@Localizer.GetLocalizedHtmlString("ADD")</a>
                    </h2>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                            <thead>
                            @if (TempData["Brand"] != null)
                            {
                                <div class="alert-box success"><span>success: </span>@TempData["Brands"]</div>
                            }
                            <tr>
                                <th>
                                    @Localizer.GetLocalizedHtmlString("StoreId")
                                </th>
                                <th>
                                    @Localizer.GetLocalizedHtmlString("ProductId")
                                </th>
                                <th>
                                    @Localizer.GetLocalizedHtmlString("Quantity")
                                </th>
                                <th>
                                    @Localizer.GetLocalizedHtmlString("Actions")
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model)
                             {
                                 <tr>
                                     <td>
                                         @Html.DisplayFor(modelItem => item.StoreId)
                                     </td>
                                     <td>
                                         @Html.DisplayFor(modelItem => item.ProductId)
                                     </td>
                                     <td>
                                         @Html.DisplayFor(modelItem => item.Quantity)
                                     </td>
                                     <td>
                                         <a asp-controller="Stock" asp-action="Edit" asp-route-storeId="@item.StoreId" asp-route-productId="@item.ProductId">@Localizer.GetLocalizedHtmlString("Edit")</a>
                                         <a asp-controller="Stock" asp-action="Delete" onclick=" return confirm('You really want to delete?')" asp-route-storeId="@item.StoreId" asp-route-productId="@item.ProductId">@Localizer.GetLocalizedHtmlString("Delete")</a>
                                     </td>
                                 </tr>
                             }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>