@using LoginCodeFirst.Resources
@model List<LoginCodeFirst.ViewModels.Category.CategoryViewModel>
@inject ResourcesServices Localizer
@{
    ViewBag.Title = Localizer.GetLocalizedHtmlString("msg_ListCategory");
}


<div class="container-fluid">
    <div class="block-header">
        <h2>
             @ViewBag.Title  
        </h2>
    </div>
    <!-- Basic Examples -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2> 
                        <a type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#add-contact" 
                           asp-controller="Category" asp-action="Add")>@Localizer.GetLocalizedHtmlString("a_ADD")</a>
                    </h2>  
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                            <thead>
                                <tr>
                                   
                                    <th>
                                        @Localizer.GetLocalizedHtmlString("th_CategoryId")
                                    </th>
                                    <th>
                                        @Localizer.GetLocalizedHtmlString("th_CategoryName")
                                    </th>
                                    <th>
                                        @Localizer.GetLocalizedHtmlString("th_Actions")
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            @{ var stt = 0;}
                            @foreach (var item in Model)
                            {
                                stt += 1;
                                <tr>
                                    <td>@stt</td>
                                    <td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CategoryId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CategoryName)
                                    </td>
                                    <td>
                                        <a asp-controller="Category" asp-action="Edit" asp-route-id="@item.CategoryId">@Localizer.GetLocalizedHtmlString("a_Edit")</a>
                                        <a asp-controller="Category" asp-action="Delete" onclick=" return confirm('You really want to delete?')"asp-route-id="@item.CategoryId">@Localizer.GetLocalizedHtmlString("a_Delete")</a>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>