@using Microsoft.AspNetCore.Mvc.Localization
@model LoginCodeFirst.ViewModels.Product.EditViewModel
@inject IViewLocalizer Localizer
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/addstyle.css"/>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="form_main">
                <h4 class="heading"><strong> @Localizer["Edit Information"]</strong> <span></span></h4>				
                <div class="form">
                    <form asp-controller="Product" asp-action="Edit" method="post">
                        <input asp-for="ProductId" type="hidden">
                        <div>
                            <label class="col-md-4 control-label"> @Localizer["PRODUCT NAME"]*</label>
                            <input asp-for="ProductName" type="text" placeholder="Please input your StoreName"class="txt">
                            <span style="color: red" asp-validation-for="ProductName"></span>
                        </div>
                        <div>
                            <label class="col-md-4 control-label"> @Localizer["LIST PRICE"]*</label>
                            <input asp-for="ListPrice" type="text" placeholder="Please input your ListPrice"class="txt">
                        </div>
                        <div>
                            <label class="col-md-4 control-label"> @Localizer["MODEL YEAR"]*</label>
                            <input asp-for="ModelYear" type="text" placeholder="Please input your ModelYear"class="txt">
                        </div>
                        <div>
                            <label class="col-md-4 control-label"> @Localizer["BRAND ID"]*</label>
                            <select asp-for="BrandId" type="text" asp-items="@ViewBag.BrandId" class="txt"></select>
                        </div>
                        <div>
                            <label class="col-md-4 control-label"> @Localizer["CATEGORY ID"]*</label>
                            <select asp-for="CategoryId" type="text" asp-items="@ViewBag.CategoryId" class="txt"></select>
                        </div>
                        <input type="submit" value="submit" name="submit" class="txt2">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>