@using LoginCodeFirst.Resources
@model List<LoginCodeFirst.ViewModels.Product.ProductViewModel>
@inject ResourcesServices Localizer
@{
    ViewBag.Title = Localizer.GetLocalizedHtmlString("lbl_ListProduct");
}


<div class="container-fluid">
    <div class="block-header">
    </div>
    <!-- Basic Examples -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2> 
                        <a type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#add-contact" 

                           asp-controller="Product" asp-action="Add")>@Localizer.GetLocalizedHtmlString("btn_Add")</a>

                    </h2>  
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                            <thead>
                                <tr>
                                   
                                    <th>
                                        @Localizer.GetLocalizedHtmlString("lbl_ProductId")
                                    </th>
                                    <th>
                                        @Localizer.GetLocalizedHtmlString("lbl_ProductName")
                                    </th>
                                    <th>
                                        @Localizer.GetLocalizedHtmlString("lbl_BrandId")
                                    </th>
                                    <th>
                                        @Localizer.GetLocalizedHtmlString("lbl_CategoryId")
                                    </th>
                                    <th>
                                        @Localizer.GetLocalizedHtmlString("lbl_ModelYear")
                                    </th>
                                    <th>
                                        @Localizer.GetLocalizedHtmlString("lbl_ListPrice")
                                    </th>
                                    <th>
                                        @Localizer.GetLocalizedHtmlString("lbl_Image")
                                    </th>
                                    <th>
                                        @Localizer.GetLocalizedHtmlString("lbl_Actions")
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            @{ var stt = 0;}
                            @foreach (var item in Model)
                            {
                                stt += 1;
                                <tr>
                                <td>@stt</td>
                                <td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProductId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProductName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BrandId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CategoryId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ModelYear)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ListPrice)
                                    </td>
                                    <td>
                                        <img src="~/images/@Html.DisplayFor(modelItem => item.Image)" width="100px"/>
                                    </td>
                                    <td>
                                        <a asp-controller="Product" asp-action="Edit" 
                                           asp-route-id="@item.ProductId">@Localizer.GetLocalizedHtmlString("btn_Edit")</a>
                                        <a asp-controller="Product" asp-action="Delete" onclick=" return confirm('You really want to delete?')"
                                           asp-route-productId="@item.ProductId">@Localizer.GetLocalizedHtmlString("btn_Delete")</a>

                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>