@model LoginCodeFirst.ViewModels.Store.StoreViewModel
@{ 
    ViewBag.Title = StoreLocalizer.GetLocalizedHtmlString("lbl_AddStore");
    Layout = "_Layout";
}

<div class="container-fluid">
    <div class="block-header">
    </div>
    <!-- Basic Validation -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="body">
                    <h2 class="card-inside-title"></h2>
                    
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <form asp-controller="Store" asp-action="Add" method="post">
                                <div class="form-group">
                                    <label class="form-label" asp-for="StoreName">@StoreLocalizer.GetLocalizedHtmlString("lbl_StoreName")</label>
                                    <input asp-for="StoreName" type="text" placeholder="StoreName"  class="form-control">
                                    <span class="text-danger" asp-validation-for="StoreName"></span>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" asp-for="Phone">@StoreLocalizer.GetLocalizedHtmlString("lbl_Phone")</label>
                                    <input type="text" asp-for="Phone" placeholder="Phone" class="form-control">
                                    <span class="text-danger" asp-validation-for="Phone"></span>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" asp-for="Email">@StoreLocalizer.GetLocalizedHtmlString("lbl_Email")</label>
                                    <input asp-for="Email" type="text" placeholder="Email"  class="form-control">
                                    <span class="text-danger" asp-validation-for="Email"></span>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" asp-for="Street">@StoreLocalizer.GetLocalizedHtmlString("lbl_Street")</label>
                                    <input asp-for="Street" type="text" placeholder="Street"  class="form-control">
                                    <span class="text-danger" asp-validation-for="Street"></span>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" asp-for="City">@StoreLocalizer.GetLocalizedHtmlString("lbl_City")</label>
                                    <input asp-for="City" type="text" placeholder="City"  class="form-control">
                                    <span class="text-danger" asp-validation-for="City"></span>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" asp-for="State">@StoreLocalizer.GetLocalizedHtmlString("lbl_State")</label>
                                    <input asp-for="State" type="text" placeholder="State"  class="form-control">
                                    <span class="text-danger" asp-validation-for="State"></span>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" asp-for="ZipCode">@StoreLocalizer.GetLocalizedHtmlString("lbl_ZipCode")</label>
                                    <input asp-for="ZipCode" type="text" placeholder="ZipCode"  class="form-control">
                                    <span class="text-danger" asp-validation-for="ZipCode"></span>
                                </div>
                                <button class="btn btn-primary waves-effect" type="submit">@CommonLocalizer.GetLocalizedHtmlString("btn_Submit")</button>
                            </form>
                        </div>
                        <a asp-area="" asp-controller="Store" asp-action="Index">

                            <i class="material-icons">reply</i>@CommonLocalizer.GetLocalizedHtmlString("btn_ComBack")
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Basic Validation -->
</div>