@model List<LoginCodeFirst.ViewModels.User.IndexViewModel>
@{

    ViewBag.Title = UserLocalizer.GetLocalizedHtmlString("lbl_ListUser");
    Layout = "_Layout";
}
<div class="container-fluid">
    <div class="block-header">
    </div>
    <!-- Basic Examples -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">                   
                    <h2> 
                        <a type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#add-contact"
                           asp-controller="User" asp-action="Add")>@CommonLocalizer.GetLocalizedHtmlString("btn_Add")</a>
                    </h2>                    
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover dataTable">
                            <thead>
                            <tr>
                                <th>
                                    @CommonLocalizer.GetLocalizedHtmlString("lbl_NumbericalOrder")
                                </th>
                                <th>
                                    @UserLocalizer.GetLocalizedHtmlString("lbl_StoreId")
                                </th>
                                <th>
                                    @UserLocalizer.GetLocalizedHtmlString("lbl_Email")
                                </th>
                                <th>
                                    @UserLocalizer.GetLocalizedHtmlString("lbl_FullName")
                                </th>
                                <th>
                                    @UserLocalizer.GetLocalizedHtmlString("lbl_Phone")
                                </th>
                                <th>
                                    @UserLocalizer.GetLocalizedHtmlString("lbl_IsActive")
                                </th>
                                <th>
                                    @CommonLocalizer.GetLocalizedHtmlString("lbl_Actions")
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            @{ var stt = 0;}
                            @foreach (var item in Model)
                            {
                                stt += 1;
                                <tr>
                                    <td>@stt</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Store.StoreName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FullName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Phone)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IsActive)
                                    </td>
                                    <td>
                                        <div id="modal-placeholder"></div>
                                        <a type="button"  data-toggle="ajax-modal" data-url="@Url.Action("EditPassword",
                                          new {id = item.UserId})">@UserLocalizer.GetLocalizedHtmlString("btn_EditPassword")
                                        </a>
                                        ||
                                        <a asp-controller="User" asp-action="Edit" 
                                           asp-route-id="@item.UserId">@CommonLocalizer.GetLocalizedHtmlString("btn_Edit")</a> ||
                                        <a asp-controller="User" asp-action="Delete" 
                                           onclick=" return confirm('@CommonLocalizer.GetLocalizedHtmlString("btn_YouDelete")')" 
                                           asp-route-id="@item.UserId">@CommonLocalizer.GetLocalizedHtmlString("btn_Delete")</a>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

