@using LoginCodeFirst.Resources
@model LoginCodeFirst.ViewModels.User.LoginViewModel 
@inject ResourcesServices Localizer

@{
    ViewBag.Title = Localizer.GetLocalizedHtmlString("msg_LoginProject");
    Layout = "_LayoutLogin";
}

<div class="login-box">
    <div class="logo">
        <a href="javascript:void(0);"><b>@Localizer.GetLocalizedHtmlString("a_Login")</b></a>
        <small>@ViewBag.Title</small>
    </div>
    <div class="card">
        <div class="body">
            <form asp-action="Login" asp-controller="User" method="post">
                
                @if (ViewBag.Err != null)
                {
                    <div class="text-danger" style="text-align: center">@ViewBag.Err</div>
                }
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">person</i>
                    </span>
                    <div class="form-line">
                        <input type="text" class="form-control" asp-for="Email" placeholder="@Localizer.GetLocalizedHtmlString("ipt_UserEmail")"></input>
                    </div>
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">lock</i>
                    </span>
                    <div class="form-line">
                        <input type="password" class="form-control" asp-for="Password" placeholder="Password">@Localizer.GetLocalizedHtmlString("ipt_Password")</input>
                    </div>
                    <span class="text-danger" asp-validation-for="Password"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8 p-t-5">
                        <input type="checkbox" name="rememberme" id="rememberme" class="filled-in chk-col-pink">
                        <label for="rememberme">@Localizer.GetLocalizedHtmlString("lb_Remember me")</label>
                    </div>
                    <div class="col-xs-4">
                        <button class="btn btn-block bg-pink waves-effect" type="submit">@Localizer.GetLocalizedHtmlString("btn_Sign in")</button>
                    </div>
                </div>
                <div class="row m-t-15 m-b--20">
                    <div class="col-xs-6">
                        <a href="#">@Localizer.GetLocalizedHtmlString("a_RegisterNow!")</a>
                    </div>
                    <div class="col-xs-6 align-right">
                        <a href="#">@Localizer.GetLocalizedHtmlString("a_ForgotPassword?")</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>